
.sukiyou_283hn2o9ui34th {
	font-size: 30rpx;
	padding: 40rpx;

	view {
		margin-top: 30rpx;
	}

	.sukiyou_2n4oj5n3uo4 {
		// display: flex;
		font-size: 26rpx;
		// align-items: flex-end;


		.asdg145 {
			margin-top: -28rpx;
		}

		// .as156dg {
		// 	width: 340rpx;

		// }

		.awrg1561 {
			font-weight: 800;
			display: flex;
			justify-content: flex-end;
			margin-top: 0;
			// width: 170rpx;
		}
	}



}

.wqt {
	font-size: 26rpx;
	color: #909399;
	margin: 0 auto;
	text-align: center;

	.sukiyou_a8y923w89tuifh {
		margin: 0 auto;
		display: flex;
		justify-content: space-around;
	}

}

.e-char {
	border-radius: 20rpx;
	margin-top: -20rpx;
	background-color: #fff;
	padding: 30rpx;

	.jzb {
		font-size: 26rpx;
		background-color: #f4f4f5;
		padding: 30rpx 30rpx;
		color: #909399;
		border-radius: 20rpx;
		display: flex;

		.icon__ {
			background-color: #3cb371;
			height: 36rpx;
			width: 36rpx;
			border-radius: 36rpx;
			margin-right: 40rpx;

			.u-icon {
				margin-left: 6rpx;
			}
		}
	}

	.sukiyou_159418615 {
		margin-top: 20rpx;
		color: #000000;
		margin-left: 20rpx;
	}
}

.tops {
	background-color: #3cb371;
	height: 460rpx;

	.tabs {
		width: 300rpx;
		margin: 0 auto;
		padding-top: 30rpx;
	}

	.top-bot {
		padding: 40rpx 40rpx;

		.upss {
			color: #9bdcb2;
			font-size: 26rpx;
		}

		.down {
			color: #fff;
			font-size: 62rpx;
			font-weight: 1000;

			.yang {
				font-size: 42rpx;
				// justify-content: top;
			}
		}
	}

}

.top-midle {
	padding: 40rpx 40rpx;
	display: flex;

	.times_ {
		font-size: 32rpx;
		display: flex;
		font-weight: 600;
		color: #fff;
	}

	.buttons {
		display: flex;
		font-size: 24rpx;
		color: #9bdcb2;
		float: right;
		position: absolute;
		right: 40rpx;

		.border_ {
			border: 1px solid #fff;
			border-radius: 26rpx;
			color: #fff;
		}

		.mar {
			padding: 8rpx 20rpx;
			margin-left: 30rpx;
		}
	}

}

.sukiyou_163q41rt3456 {
	padding: 40rpx;

	.sukiyou_156489651 {
		margin-top: 20rpx;
		color: #000000;
		margin-left: 20rpx;
		font-size: 30rpx;
		margin-bottom: 40rpx;
	}

	.sukiyou_3894y93h4t89374h {
		// display: flex;
		color: #2f2f2f;
		font-size: 28rpx;

		.sukiyou_1a6s51f65as4d1 {
			display: flex;
			margin-bottom: 40rpx;

			.sukiyou_4a65sd4f1as615df165as {
				margin-right: 20rpx;
			}

			.a56w4g6 {
				margin-right: 30rpx;
			}

			.a56sg415s {}

			.sukiyou_1a6s5d1g65s {
				float: right;
				position: absolute;
				right: 40rpx;
				font-weight: 600;

			}
		}

	}
}
